<div class="container-fluid ks-rows-section">
  <div class="row">
    <div class="col-lg-12 ks-panels-column-section">
      <div class="card panel ks-information ks-light">
        <h5 class="card-header">
          <a href="#" class="btn btn-primary-outline ks-light">Ajouter categorie</a>
        </h5>
        <div class="card-block ks-datatable">
          <div id="ks-sales-datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer" style="width: 1078px;">
            <bo-categories-table [categories]="categories | async"
                            [categorieStatus]="categorieStatus | async"
                            (onSelectCategorie)="onSelectCategorie($event)"></bo-categories-table>
          </div>
        </div>
      </div>
    </div>
  </div>
