<bo-header [title]="titre$"></bo-header>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
<div class="ks-social-profile">

  <div class="ks-social-profile-body">
    <div class="card panel panel-default">
      <h5 class="card-header">
        About
        <div class="ks-user-list-view-header-control pull-right">
          <button class="btn btn-success btn-sm" (click)='synchroniser()'>Synchroniser</button>
          <button class="btn btn-success btn-sm ml-1" (click)="edit()">Modifier</button>
        </div>
      </h5>
      <div class="card-block">
        <div class="ks-col">
            <div class="ks-item">
              <span class="titre">Username : </span>
              <span>{{(vendeur$ | async)?.username}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">uuid : </span>
              <span>{{(vendeur$ | async)?.uuid}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Nom complet : </span>
              <span>{{(vendeur$ | async)?.name}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Genre : </span>
              <span>{{(vendeur$ | async)?.gender}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Anniversaire : </span>
              <span>{{(vendeur$ | async)?.birthday}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Téléphone : </span>
              <span>{{(vendeur$ | async)?.phone}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Whatsapp_phone : </span>
              <span>{{(vendeur$ | async)?.Whatsapp_phone}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Pays : </span>
              <span>{{(vendeur$ | async)?.country}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Adresse : </span>
              <span>{{(vendeur$ | async)?.address}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Latitude : </span>
              <span>{{(vendeur$ | async)?.latitude}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Longitude : </span>
              <span>{{(vendeur$ | async)?.longitude}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Compte Actif : </span>
              <span>{{(vendeur$ | async)?.is_active}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Membre depuis : </span>
              <span>{{(vendeur$ | async)?.date_joined | amDateFormat: 'DD/MM/YYYY'}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Derniere connexion : </span>
              <span>{{(vendeur$ | async)?.last_login | amDateFormat: 'DD/MM/YYYY HH:mm'}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Acquisition_channel : </span>
              <span>{{(vendeur$ | async)?.acquisition_channel}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Google_uid : </span>
              <span>{{(vendeur$ | async)?.google_uid}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Facebook_uid : </span>
              <span>{{(vendeur$ | async)?.facebook_uid}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Account_kit_uid : </span>
              <span>{{(vendeur$ | async)?.account_kit_uid}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Source : </span>
              <span>{{(vendeur$ | async)?.source}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Source_version : </span>
              <span>{{(vendeur$ | async)?.source_version}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Last_modified : </span>
              <span>{{(vendeur$ | async)?.last_modified}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Last_sync : </span>
              <span>{{(vendeur$ | async)?.last_sync}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Profile_complete : </span>
              <span>{{(vendeur$ | async)?.profile_complete_override}}</span>
            </div>
        </div>
        <div class="ks-col">
            <div class="ks-item">
              <span class="titre">Nombre d'annonces : </span>
              <span>{{userStat.adsCount}}</span>
            </div>
            <div class="ks-item">
              <span class="titre">Annonces validées : </span>
              <span>{{userStat.valide.length}}</span>
            </div>
            <div class="ks-item">
                <span class="titre">Annonces en modérations : </span>
                <span>{{userStat.moderation.length}}</span>
            </div>
            <div class="ks-item">
                <span class="titre">Annonces rejetées : </span>
                <span>{{userStat.rejete.length}}</span>
            </div>
        </div>
        <div class="ks-col">
          <span class="titre">Top Catégories</span>
          <div class="ks-item" *ngFor="let category of topPostingCategories">
            <span> - {{ category }} ( {{ categoryCounter[category] }} )</span>
          </div>
        </div>
        <div class="ks-col">
            <span class="titre">Top Sources</span>
            <div *ngIf="topSource.ANDROID > topSource.web">
              <div class="ks-item">
                <span>- Android : </span>
                <span>{{ topSource.ANDROID }}</span>
              </div>
              <div class="ks-item">
                <span>- web : </span>
                <span>{{ topSource.web }}</span>
              </div>
            </div>
            <div *ngIf="topSource.web > topSource.ANDROID">
                <div class="ks-item">
                  <span>- web : </span>
                  <span>{{ topSource.web }}</span>
                </div>
                <div class="ks-item">
                  <span>- Android : </span>
                  <span>{{ topSource.ANDROID }}</span>
                </div>
              </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="ks-social-profile-body">
      <div class="card panel panel-default">
        <h5 class="card-header">Annonces</h5>
        <div class="column is-one-third">
          <form [formGroup]='searchForm' (ngSubmit)="search()"  class="center">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Rechercher" formControlName="keyword">
              </div>
              <div class="col">
                <select class="form-control" formControlName="categorie">
                  <option value="">Choisir une catégorie</option>
                  <option *ngFor="let item of categories$ | async" [value]="item.id">{{item.nom}}</option>
                  <option value="all">Toutes les catégories</option>
                </select>
              </div>
              <div class="col">
                <select class="form-control" formControlName="statut">
                  <option value="">Choisir un statut</option>
                   <option *ngFor="let item of status" [value]="item.id">{{item.nom}}</option>
                   <option value="all">Tous les statuts</option>
                </select>
              </div>
              <div class="col">
                <select class="form-control" formControlName="source">
                  <option value="">Choisir une source</option>
                  <option *ngFor="let item of sources" [value]="item">{{item}}</option>
                  <option value="all">Toutes les source</option>
                </select>
              </div>
              <div class="col">
                <!-- <input type="hidden" formControlName="etat" [value]="url$"> -->
                <button type="submit" name="button" class="btn btn-primary">Rechercher</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-success" (click)="loadAnnonces()">Toutes les annonces</button>
              </div>
            </div>
          </form>

        </div>
        <div class="ks-body" style="overflow: hidden; padding: 0px; width: 100%" tabindex="0">
          <div class="main-panel">
            <div class="card panel panel-default panel-table">
              <div class="card-block">
                <table class="table table-hover stacktable small-only">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Activité</th>
                      <th>Prix</th>
                      <th>Catégorie</th>
                      <th>Pays</th>
                      <th>Statut</th>
                      <th>Nbre vue(s)</th>
                      <th>Source</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" *ngFor="let annonce of annonces$ | async ; let i = index" [class.active]="i == selectedRow">
                      <td>
                        <img src="{{urlImage}}{{annonce?.photo }}" class="" width="50">
                      </td>
                      <td (click)="onSelectAnnonce(annonce)">
                        <div class="ks-name ks-annonce click">
                            <span class="ks-color-titre"> {{ annonce?.title }}</span>
                            <span class="ks-color-id"> [{{ annonce?.id }}]</span>
                        </div>
                        <small>posté le {{annonce?.date_creation | amDateFormat: 'DD/MM/YYYY HH:mm' }}</small>


                        <div *ngIf="isLocked(annonce.id)" class='content-red'>
                          <span class='alreadyInModeration'>
                            <img src='../../../assets/img/open_lock.png' alt="open_lock" />
                          </span>
                          <span class='alreadyInModeration'>En cours de modération par {{getLock(annonce.id).username}}</span>
                        </div>

                      </td>
                      <td>
                        <div class="ks-name">
                            <span class="ks-progress-type">{{ annonce?.price }} {{ annonce?.devise }}</span>
                        </div>
                        <small>Type
                          <span class="ks-progress-type">{{ annonce?.etat_produit | etatProduit }} </span>
                        </small>
                      </td>
                      <td>
                        <div class="ks-email">
                          <a href="#" class="ks-color-info">{{ annonce?.category?.name }}</a>
                        </div>
                      </td>
                      <td>
                        {{ annonce?.country }}
                      </td>
                      <td>
                        <span class="ks-color-{{annonce?.etat}}">{{ getAdStatusName(annonce) }}</span>
                      </td>
                      <td>vu: {{annonce?.view_nbr}} fois</td>
                      <td>{{ annonce.source }}</td>
                      <td>
                        <small class="badge badge-cranberry" *ngIf="annonce?.sponsoring.is_sponsored">Sponsorisé</small>
                        <small class="badge badge-primary" *ngIf="annonce?.is_discount">En promotion</small>
                        <small class="badge badge-warning" *ngIf="annonce?.homepage_sponsoring">VIP</small>
                        <small class="badge badge-warning" *ngIf="annonce?.all_country">All country</small>
                      </td>
                      <td>
                        <span class='cursor_pointer'>
                          <a [routerLink]="['/audits/ad/', annonce.id]">Historique</a>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="5">
                        <a (click)="getPreviousPage()" *ngIf="prev" class="btn btn-bo btn-sm">Précédent</a>
                        Page {{current_page}} sur {{total}}
                        <a (click)="getPage()" *ngIf="next" class="btn btn-bo btn-sm click">Suivant</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade slide-up edit-vendeur-form-modal" id="edit-vendeur-form-modal" tabIndex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editer vendeur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="la la-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="ks-block">
          <form [formGroup]='editForm' (ngSubmit)="onEditFormSubmit(editForm.value)">
            <div class="form-group">
              <div class="fl-flex-label fl-collapsed fl-background">
                <label class="fl-label" for="name" style="left: 16px; right: 15px;">Nom complet
                  <span class="fl-required">*</span>
                </label>  
              </div>
              <input type="text" class="form-control" id="" formControlName="name">
            </div>
            <div class="form-group">
              <div class="fl-flex-label fl-collapsed fl-background">
                <label class="fl-label" for="email" style="left: 16px; right: 15px;">Email
                  <span class="fl-required">*</span>
                </label>
              </div>
              <input type="email" class="form-control" id="" formControlName="email">
            </div>
            <div class="form-group">
              <div class="fl-flex-label fl-collapsed fl-background">
                <label class="fl-label" for="phone" style="left: 16px; right: 15px;">Numéro téléphone
                  <span class="fl-required">*</span>
                </label>
              </div>
              <input type="text" class="form-control" id="" formControlName="phone">
            </div>
            <div class="form-group">
              <div class="fl-flex-label fl-collapsed fl-background">
                <label class="fl-label" for="whatsapp_phone" style="left: 16px; right: 15px;">Numéro whatsApp
                  <span class="fl-required">*</span>
                </label>
              </div>
              <input type="text" class="form-control" id="" formControlName="whatsapp_phone">
            </div>
            <input type="hidden" class="form-control" id="" formControlName="uuid">

           <div class="form-group">
              <div class="fl-flex-label fl-collapsed fl-background">
                <label class="fl-label" for="default-input" style="left: 16px; right: 15px;">Pays
                  <span class="fl-required">*</span>
                </label>
              </div>
              <select id="" class="form-control" formControlName="country">
                <option *ngFor="let p of pays$ | async" [value]="p.code">
                  {{p.nom}}
                </option>
              </select>
            </div>
            <div class="form-group">
                <div class="fl-flex-label fl-collapsed fl-background">
                    <label class="fl-label" for="address" style="left: 16px; right: 15px;">address
                        <span class="fl-required">*</span>
                      </label>
                </div>
                <input type="text" class="form-control"  formControlName="address_show">
              <select 
                      (change)="onSelectLocality(this.editForm.value)"
                      class="form-control" tabindex="-1" aria-hidden="true"  
                      required
                      formControlName="address" >
                 <option disabled value="">Choisir la localité</option>
                 <option *ngFor="let item of localityByCountry$ " [ngValue]="item.nom">{{item.nom}}</option>
                  <ng-template ngFor let-item [ngForOf]="localityByCountry$">
                                <optgroup *ngIf="item.childs.length !== 0" label="{{item.nom}}">
                                  <option *ngFor="let child of item.childs" [ngValue]="child.nom">{{child.nom}}</option>
                                </optgroup>
                </ng-template>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control" tabindex="-1" aria-hidden="true" 
                      required
                      formControlName="acquisition_channel">
                      <option *ngFor="let item of acquisition " [ngValue]="item.id">{{item.nom}}</option>
              </select>
              </div>
            <div class="form-group">
              <div class="fl-flex-label fl-collapsed fl-background">
                <label class="fl-label" for="whatsapp_phone" style="left: 16px; right: 15px;">Vendeur actif
                  <span class="fl-required">*</span>
                </label>
              </div>
              <input type="checkbox" class="form-control" id="" formControlName="is_active">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<bo-annoncerfu-edit-modal [url$]="url$" [deal_type_display]="deal_type_display" [annonce]="annonce$ | async" [categories]="categories$ | async"
  [collections]="collections$ | async" [placeholder]="placeholder" [pays]="pays$ | async" [status]="status$ | async" (submitImage)="submitImage($event)"
  (deletePhoto)="deletePhoto($event)" (generateLink)="generateLink($event)" (onFormSubmit)="onFormSubmit($event)" (moderateAd)="moderateAd($event)"
  (onCollectionFormSubmit)="onCollectionFormSubmit($event)" [vendeur]="true"
  (mustEmitLocks)="fetchLocksAfterClosingModal($event)"
  >
</bo-annoncerfu-edit-modal>
