.titre{
  font-weight: bold;
  color:gray;
}

.ks-color-status__deleted {
  color: blue !important;
}
.ks-color-danger,
.ks-color-2 {
  color: #ef5350 !important;
}

.ks-color-1,
.ks-color-success {
  color: #4caf50 !important;
}

.ks-color-0,
.ks-color-warning {
  color: #f7ca18 !important;
}

.ks-color-id {
  color:#333;
  font-size:11px;
}

.ks-color-titre {
  color:#333;
  font-size:17px;
  font-weight: bold;
}

[ng-click],
[data-ng-click],
[x-ng-click],
.click,
.nav-item {
  cursor: pointer;
}
.is-one-third {
  margin: 10px auto;
}
.ks-col{
  float: left;
  width: 30%;
}

.content-red {
  color: red;
}
